# Dependencies (WAJIB DIIKUTKAN)
node_modules/

# Production build output
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local